@import 'tailwindcss';

@theme {
  --color-dh-purple: #6946a6;
  --color-dh-blue: #467ff7;
  --color-dh-gold: #e7c74b;
  --color-dh-teal: #83cdc2;
  --color-dh-gray: #f3f5f8;
}

body {
  background: var(--color-dh-purple);
  color: var(--color-dh-gray);
  font-family: var(--font-copy), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

.icon-shield {
  background-image: url('/icons/shield.svg');
}
.icon-shield.checkbox-icon-filled {
  background-image: url('/icons/shield-filled.svg');
}
.icon-shield.checkbox-icon-disabled {
  background-image: url('/icons/shield-disabled.svg');
}

.icon-star {
  background-image: url('/icons/star.svg');
}
.icon-star.checkbox-icon-filled {
  background-image: url('/icons/star-filled.svg');
}
.icon-star.checkbox-icon-disabled {
  background-image: url('/icons/star-disabled.svg');
}

.icon-cross {
  background-image: url('/icons/cross.svg');
}
.icon-cross.checkbox-icon-filled {
  background-image: url('/icons/cross-filled.svg');
}
.icon-cross.checkbox-icon-disabled {
  background-image: url('/icons/cross-disabled.svg');
}

.icon-heart {
  background-image: url('/icons/heart.svg');
}
.icon-heart.checkbox-icon-filled {
  background-image: url('/icons/heart-filled.svg');
}
.icon-heart.checkbox-icon-disabled {
  background-image: url('/icons/heart-disabled.svg');
}

.icon-skull {
  background-image: url('/icons/skull.svg');
}
.icon-skull.checkbox-icon-filled {
  background-image: url('/icons/skull-filled.svg');
}
.icon-skull.checkbox-icon-disabled {
  background-image: url('/icons/skull-disabled.svg');
}
