{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "objectWrap": "collapse",
  "bracketSameLine": false
}
